/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;background-color:#EEE9E9; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table{
    width: 100%;
}
.form {
    padding-top: 14px;
}
.button{    
    width: 150px;
}
.esqueda40{
    right: 41px;
}
.direita40{
    left: 40px;
}
.direita80{
    left: 80px;
}
.width40{
    width: 40% !important;
}
.paddingForm{
    padding: 5%;
}
.width100{
    width: 100% !important;
}
.width50{
    width: 50% !important;
}
.colunaCodigo{
    padding-left: 3px !important;    
}

.textoCentralizado {
    text-align: center !important;
}

.mat-card {
    top: 13px;
    width: 90% !important;
    left: 4% !important;
    border-radius: 8px !important;
}
.tituloConsultaPedido{
    top: 15px !important;
    padding-top: 2% !important;
    padding-left: 4% !important;
    font-size: 30px !important;
    font-weight: 600 !important;
}

.padding64{
    padding-bottom: 64px;
}

.width50{
    width: 50% !important;
}
.width100{
    width: 100% !important
}
.height36{
    height: 36px !important;
}
.icone {
    max-height: 20px;
    position: absolute;
    padding-left: 6px;
}
.cardCliente{
    padding-top: 3% !important;
    padding-left: 3% !important;
}
.font20{
    font-size: 20px;
}

.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
    margin-top: 1px !important;
    display: block !important;
    margin-bottom: 14px !important;
    margin-left: 48px !important;
}

.mat-card .mat-divider-horizontal {
    left: 24px !important;
    width: 96% !important;
}

.cardClientePedido {
    box-shadow: 0px 11px 14px 4px rgba(0, 0, 0, 0.2), 0px 4px 0px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.top56{
    top: 56px;
}

.width100px{
    width: 100px;
}

.textoCarrinho{
    color: rgb(153 153 153) !important;
}

.mat-h1, .mat-headline, .mat-typography h1 {
    font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0px 0 0px !important;
}

.panelItensProdutos{
    box-shadow: none !important;
    width: 96% !important;
    left: 0% !important;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-radius: 0px !important;
    border-color: #b0b0b0;
}

.imagemProduto{
    width: 179px !important;
    height: 170px !important;
    background-size: cover;
    border: 1px solid;
    border-radius: 100%;
    margin-top: 21px;
}

.cardAction{
    text-align: end;
    position: absolute;
    top: 0;
    left: 80%;
    height: 210px;
    width: 261px;
}